@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display';
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 375px;
    margin: 50px auto;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 20px;
}
main {
    margin: 0 30px;
    padding-bottom: 30px;
}

img {
    max-width: 100%;
}
p{
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}
.banner img{
    border-radius: 20px 20px 0 0;
}
.firstsection {
    padding: 15px 0;
    text-align: center;
}
.firstsection h2 {
    font-weight: 900;
    padding: 10px 0;
    letter-spacing: -.5px;
}
.firstsection p {
    line-height: 20px;
    letter-spacing: -.5px;
    font-weight: 500;
}

.secondsection {
    padding: 15px 0;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.secondsection .musicimg {
    margin: 0 10px;
}
.secondsection .annulplan {
    margin-right: 20%;
}
.secondsection .annulplan h3 {
    font-weight: 700;
    letter-spacing: -1px;
}
.secondsection .annulplan p {
    color: hsl(224, 23%, 55%);;
}
.secondsection a {
    font-weight: 700;
}
.btn {
    margin: 30px auto;
    width: 100%;
    text-align: center;
    background-color: hsl(245, 75%, 52%);
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 20px hsl(224, 23%, 55%);
}
.btn a {
    text-decoration: none;
    color: hsl(225, 100%, 98%);
    font-weight: 700;
}

.cancel {
    text-align: center;
}
.cancel a {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    body{
        background-color: hsl(225, 100%, 94%);
    }

}